<ion-header>
	
	<ion-toolbar color="primary">
		<ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
	</ion-toolbar>
	
</ion-header>

<ion-content padding>
	
	<ion-list [hidden]="autocompleteItems.length == 0">
		<ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
			{{ item.description }}
		</ion-item>
	</ion-list>	
	<ion-list *ngIf="autocompleteItems.length > 0">
		<ion-item *ngFor="let place of nearbyItems">
			<h2>{{place.name}}</h2>
		</ion-item>
	</ion-list>

</ion-content>
